body {
    font-family: 'Roboto Mono', monospace;
    color: rgb(250, 250, 250);
    background-color: black;
}

a:link {
    color:aqua;
}

a:visited {
    color: rgb(250, 250, 250);
}

a:hover {
    color: deeppink;
}

a:active {
    color: gray;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 2em;
}