body {
    font-family: 'Roboto Mono', monospace;
    color: rgb(250, 250, 250);
    background-color: black;
    max-width: 740px;
    min-width: 300px;
    margin: 0 auto;
}

a {
    color:aqua;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 2em;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}