
html {
    font-size: 16px;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto Mono', monospace;
    color: rgb(250, 250, 250);
    background-color: black;
    max-width: 740px;
    min-width: 300px;
    margin: 0 auto;
}

a:link {
    color:aqua;
}

a:visited {
    color: rgb(250, 250, 250);
}

a:hover {
    color: deeppink;
}

a:active {
    color: gray;
}

p {
    font-size: 1rem;
    margin: 20px;
    line-height: 1.5rem;
}

h1 {
    font-size: 2rem;
    padding: 0 10px;
    text-align: center;
    margin: 20px 0;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid darkgray;
    margin: 0 20px;
}

header {
    position: sticky;
}
